.navbar  {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100000;
}

.error-message  {
    color: red;
}

.btn  {
    border-radius: 0px;
}

.basicBackground  {
    background-color: #eeece1;
}

.sysGreenColor {
    background-color:#ccffcc;
}

.sysYellowColor {
    background-color:#ffff99;
}

.sysPinkColor {
    background-color:#ff99cc;
}

.sysWhiteColor {
    background-color:#ffffff;
}

.sysBackBtn  {
    background-color:#fac090;
    color: black;
}

.listYellowColor  {
    background-color:#ffff99;
}

.listPinkColor  {
    background-color:#ffccff;
}

.listBlueColor  {
    background-color:#b7dee8;
}

.listGreenColor  {
    background-color:#ccff99;
}


/* home  */
#map {
    height: 700px; 
    width: 100%; 
}
#findbox {
    height:20px;
    margin-top:10px;
}
.search-input  {
    width:80%;
}
.search-tooltip {
    width: 200px;
}
.leaflet-control-search .search-cancel {
    position: static;
    float: left;
    margin-left: -22px;
}
.textBox {
    border: 1px solid black;
    float: left;
    /* padding: 6px 67px 5px 66px; */
    padding: 6px 0px 5px 0px;
    text-align: center;
    /* background-color: #cacaca; */
}

.table-bordered td, .table-bordered th {
    border: 1px solid #4950574f;
}

.table-sm thead {
    font-size: 14px;
}
.table-sm thead,  .table-sm tbody { 
    display: block; 
}
.table-sm tbody {
    overflow-y: scroll;    
    font-size: 12px;
}
.form-control {
    border-radius:0px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#SDSD_listTable tbody tr:hover  {
    background-color: #dfdfdf;
    cursor: pointer;
}

.selectedRow {
    background-color: #dcfad4 !important;
}

.leaflet-marker-icon-color-blue   { -webkit-filter: hue-rotate( 30deg); filter: hue-rotate( 30deg); }
.leaflet-marker-icon-color-pink   { -webkit-filter: hue-rotate( 90deg); filter: hue-rotate( 90deg); }
.leaflet-marker-icon-color-red    { -webkit-filter: hue-rotate(150deg); filter: hue-rotate(150deg); }
.leaflet-marker-icon-color-yellow { -webkit-filter: hue-rotate(210deg); filter: hue-rotate(210deg); }
.leaflet-marker-icon-color-green  { -webkit-filter: hue-rotate(270deg); filter: hue-rotate(270deg); }
.leaflet-marker-icon-color-alua   { -webkit-filter: hue-rotate(330deg); filter: hue-rotate(330deg); }

/* #myChart {
    padding:20px;
} */

.badge.badge-primary {
    border-radius: 0px;
    font-size: 13px;
    font-weight: 500;
}
