.navbar  {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100000;
}

.error-message  {
    color: red;
}

.btn  {
    border-radius: 0px;
}

.basicBackground  {
    background-color: #eeece1;
}

.sysGreenColor {
    background-color:#ccffcc;
}

.sysYellowColor {
    background-color:#ffff99;
}

.sysPinkColor {
    background-color:#ff99cc;
}

.sysWhiteColor {
    background-color:#ffffff;
}

.sysBackBtn  {
    background-color:#fac090;
    color: black;
}

.listYellowColor  {
    background-color:#ffff99;
}

.listPinkColor  {
    background-color:#ffccff;
}

.listBlueColor  {
    background-color:#b7dee8;
}

.listGreenColor  {
    background-color:#ccff99;
}


/* home  */
#map {
    height: 700px; 
    width: 100%; 
}
#findbox {
    height:20px;
    margin-top:10px;
}
.search-input  {
    width:80%;
}
.search-tooltip {
    width: 200px;
}
.leaflet-control-search .search-cancel {
    position: static;
    float: left;
    margin-left: -22px;
}
.textBox {
    border: 1px solid black;
    float: left;
    /* padding: 6px 67px 5px 66px; */
    padding: 6px 0px 5px 0px;
    text-align: center;
    /* background-color: #cacaca; */
}

.table-bordered td, .table-bordered th {
    border: 1px solid #4950574f;
}
tbody {
    display: block;
    overflow-y: scroll;
    font-size: 12px;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

.form-control {
    border-radius:0px;
}
